<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Express Help!</title>
</head>
<body>
    {{>header}}
    <p>{{name}} provides the page for help!</p>
    {{>footer}}
</body>
</html>