{{>header}}

{{!-- change here only --}}
<div class="col-md-12">
    <div class="col-md-3">
        {{!-- left space --}}
    </div>

    <div class="col-md-6">
        <h1><b>Weather</b></h1>
        {{>nav}}

        <div class="col-md-12">
            &nbsp;
        </div>
        <div class="col-md-12">
            &nbsp;
        </div>

        <div class="col-md-12">
            <div class="col-md-12">
                <form>
                    <input type="text" placeholder="Enter City Name">
                    <button>Search</button>
                </form>
                <div id="message1"></div>
            </div>
        </div>

    


    </div>

    <div class="col-md-3">
        {{!-- left space --}}
    </div>
</div>
<script src="js/fetch_form.js"></script>
{{!-- end --}}
{{>footer}}