<ul class="nav nav-pills">
    <li role="presentation" class=""><a href="/weather">Weather</a></li>
    <li role="presentation" class=""><a href="/about">About</a></li>
    <li role="presentation" class=""><a href="/help">Help</a></li>
</ul>